<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h2 align="center">Pagina di registrazione</h2>

    <form action="{{url_for('ricezioneDati')}}" method="post">
        <table border="1">
            <tr>
                <td><label for="">Nome utente</label></td>
                <td>
                    <input type="text" name="nomeUtente">
                </td>
            </tr>
            <tr>
                <td><label for="">Password</label></td>
                <td>
                    <input type="password" name="passwordUtente">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Registra utente nel sito"></input>
                </td>
            </tr>
        </table>
    </form>

</body>

</html>